<head>
  <title>Shopping Items</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <div class="checkout-container">
        <header>
            <img src="assets/Images/logo.png" alt="Logo" class="logo">
            <div class="user-actions">
                
            </div>
            <nav>
                <ul>
                    <li><span class="step">1</span> Shopping Cart</li>
               
                    <li><span class="step active">2</span> Order Complete</li>
                </ul>
            </nav>
        </header>
         <div>
            <!-- Checkmark Icon -->
            <div class="checkmark">✔</div>
            <h1>Thank You for Your Purchase!</h1>
            <p>Your order has been successfully placed. You will receive a confirmation email shortly.</p><br>
            <!-- New Continue Shopping Button -->
            <button class="continue-shopping-btn"  [routerLink]="'/rings'">Continue Shopping </button>
        </div>
    </div>
    
</body>

<footer>
  <div class="about-header">
    <p>©2025 JEWELRY ONLINE SHOP</p>
    <div class="social-media">
      <a href="https://web.facebook.com/profile.php?id=61571209926881" target="_blank"><i class="fab fa-facebook-square"></i></a>
      <a href="https://x.com/ClarenceSi6699" target="_blank"><i class="fab fa-twitter-square"></i></a>
      <a href="mailto:jewelryshop@gmail.com"><i class="fas fa-envelope"></i></a>
      <a href="https://t.me/+nUcNF89YdY1kODY1" target="_blank"><i class="fab fa-telegram"></i></a>
    </div>
  </div>

  <div class="myaccount" *ngIf="currentUser">
    <div id="accountInfo" [style.display]="showAccountInfo ? 'block' : 'none'" style="margin-top: 5px">
      <a href="/account">MY ACCOUNT</a><br /><br />
      <a href="javascript:void(0);" (click)="logout()">LOGOUT</a>
    </div>
    <a href="javascript:void(0);" (click)="toggleAccountInfo()">
      <img src="assets/Images/user.png" alt="myaccount" style="height: 30px" />
    </a>
  </div>

  <button class="TOP" (click)="scrollToTop()">&#8593;</button>
</footer>
